NEXT_PUBLIC_SUPABASE_URL=https://qqtvmuipwysurmzumbox.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxdHZtdWlwd3lzdXJtenVtYm94Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxMjUyNDIsImV4cCI6MjA5MDcwMTI0Mn0.1LJ74jVfrbZ1HaZQMtY9UxcYcwbQ8oc1xAI6X5E3xro
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxdHZtdWlwd3lzdXJtenVtYm94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTEyNTI0MiwiZXhwIjoyMDkwNzAxMjQyfQ.55NPjE6M-YBKSKLnl5Pe-_K9CZqZOh2-wxxY50d1e7s
PAGESPEED_API_KEY=AIzaSyAlAtk6SNM53dmqeflzmWV0A4lYwrGNYzg
RESEND_API_KEY=re_FBEfrvoV_BhmcGdFR8jiN6sFycc39mvLL
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
GROQ_API_KEY=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
GEMINI_API_KEY=AIzaSyCLf20nukYhUFqO27f66CxjNAbq674EZrA
GEMINI_MODEL=gemini-2.5-flash
NEXT_PUBLIC_TAWK_PROPERTY_ID=69cf5fe98153c41c3b4dd09e
NEXT_PUBLIC_TAWK_WIDGET_ID=1jl90ta6e
